@media only screen and (max-width: 1010px) {
    .nav-menu {
      flex-direction: column;
    }
  
    .navbar {
      height: 400px;
      flex-direction: column;
      transition: all 0.7s ease-out;
    }
    .login {
      margin-bottom: 15px;
    }
  
    .logo {
      margin-top: 10px;
      box-sizing: border-box;
    }
    .lines {
      display: block;
    }
  
    .h-nav-resp {
      height: 72px;
    }
  
    .hide-res {
      opacity: 0;
    }
  
    .images {
      flex-direction: column;
    }
  
    .images img {
      width: 300px;
      height: 200px;
    }

    .divide{
        width: 500px;
    }
  }
  